<!-- page-title -->
<div class="page-title">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-0 offset-sm-0 offset-md-0 offset-lg-2 ">
                <h2 class="page-title__title">Post Details</h2>
                <!--  -->
                <nav><a class="breadcrumb__item" href="/knust-innovation-center/blog">Blog</a><span class="breadcrumb__item active">Post details</span>
                </nav>
                <!-- End /  -->
            </div>
        </div>
    </div>
</div>
<!-- End / page-title -->