<!-- footer -->
<footer class="footer">
    <div class="footer__main">
        <div class="row row-eq-height">
            <div class="col-12 col-sm-12 col-md-12 col-lg-3 align-center">
                <div class="footer__item ">
                    <a class="innovationcenter_logo " href="{{ path('<front>') }}"><img src="/knust-innovation-center/themes/custom/innovationcenter/images/logo.png" alt="" /></a>
                    <p class="align-center">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut laoreet ut lacus a tincidunt.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut laoreet ut lacus a tincidunt
                    </p>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 offset-0 offset-sm-0 offset-md-0 offset-lg-0 offset-xl-1">
                <div class="footer__item">
                    <!-- widget-text__widget -->
                    <section class="widget-text__widget widget">
                        <div class="widget-text__content">
                            <ul>
                                <li><a href="/knust-innovation-center/academy">Learn with us </a></li>
                                <li><a href="/knust-innovation-center/academy">Our courses </a></li>
                                <li><a href="/knust-innovation-center/initiative">Initiative </a></li>
                                <li><a href="/knust-innovation-center/about-us">About Us</a></li>
                            </ul>
                        </div>
                    </section>
                    <!-- End / widget-text__widget -->
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-2 col-xl-2">
                <div class="footer__item">
                    <!-- widget-text__widget -->
                    <section class="widget-text__widget widget">
                        <div class="widget-text__content">
                            <ul>
                                <!--knust-innovation-center-->
                                <li><a href="/knust-innovation-center/blog">Our Blog </a></li>
                                <li><a href="/knust-innovation-center/events">Events </a></li>
                                <li><a href="/knust-innovation-center/community">Community </a></li>
                                <li><a href="/knust-innovation-center/incubator">Incubator </a></li>
                            </ul>
                        </div>
                    </section>
                    <!-- End / widget-text__widget -->
                </div>
            </div>
            <div class="col-md-4 col-lg-2 col-xl-2">
                <div class="footer__item">
                    <!-- This is there for alignment purposes -->
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-2 col-xl-2  innovationcenter_backToTop">
                <div class="footer__item">
                    <a href="#" id="back-to-top"> <i class="fa fa-angle-up" aria-hidden="true"> </i><span>Back To Top</span></a>
                </div>
            </div>
        </div>
    </div>
    <div class="row footer__copyright">
        <div class="col-lg-6 col-md-6 col-sm-6">
            <a style="color:white;" href="{{ path('<front>') }}">
                <script type="text/javascript">
                    document.write(new Date().getFullYear());
                </script>&copy; KNUST-CoE Innovation Centre</a>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 social-01">
            <nav class="social-01__navSocial">
                <a class="social-01__item" href="#"><i class="fa fa-facebook"></i></a>
                <a class="social-01__item" href="#"><i class="fa fa-twitter"></i></a>
                <a class="social-01__item" href="#"><i class="fa fa-instagram"></i></a>
            </nav>
        </div>
    </div>
</footer>
<!-- End / footer -->

{# {{ page.footer }} #}