{% include directory ~ '/partials/mainslider.html.twig' %}
   

        <!-- Section -->
        <section
          class="md-section"
          style="background-color: #f7f7f7; padding-top: 0"
        		>
          <div class="container">
            <div class="row">
              <div
                class="col-md-10 col-lg-8 offset-0 offset-sm-0 offset-md-1 offset-lg-2"
              >
                <!-- iconbox -->
                <div class="iconbox">
                  <div class="iconbox__icon">
                    <i class="ti-target"></i>
                  </div>
                  <div>
                    <h2 class="iconbox__title">
                      <a href="/knust-innovation-center/about-us">What We Are Known For</a>
                    </h2>
                    <div class="iconbox__description">
                      Nam elit ligula, egestas et ornare non, viverra eu justo.
                      Aliquam ornare lectus ut pharetra dictum. Aliquam erat
                      volutpat. In fringilla erat at eros pharetra faucibus.
                      Nunc a magna eu lectus fringilla interdum luctus vitae
                      diam. Morbi ac orci ac dolor pellentesque interdum vel
                      accumsan risus. In ves
                    </div>
                  </div>
                </div>
                <!-- End / iconbox -->
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6 col-md-6 col-lg-3">
                <!-- iconbox -->
                <div class="iconbox iconbox__style-02">
                  <div class="iconbox__icon">
                    <i class="ti-layout"></i>
                  </div>
                  <div>
                    <h2 class="iconbox__title">
                      <a href="/knust-innovation-center/events">Our Events &amp; Space</a>
                    </h2>
                    <div class="iconbox__description">
                      Mauris lacinia venenatis dolor sit amet viverra. Integer
                      malesuada nulla neque. Sed rutrum ligula eu
                    </div>
                  </div>
                </div>
                <!-- End / iconbox -->
              </div>
              <div class="col-sm-6 col-md-6 col-lg-3">
                <!-- iconbox -->
                <div class="iconbox iconbox__style-02">
                  <div class="iconbox__icon"><i class="ti-package"></i></div>
                  <div>
                    <h2 class="iconbox__title">
                      <a href="/knust-innovation-center/about-us">Our Projects</a>
                    </h2>
                    <div class="iconbox__description">
                      Etiam non varius justo, vel tempor mi. Nulla facilisi.
                      Fusce at tortor arcu. Suspendisse maximus ac
                    </div>
                  </div>
                </div>
                <!-- End / iconbox -->
              </div>
              <div class="col-sm-6 col-md-6 col-lg-3">
                <!-- iconbox -->
                <div class="iconbox iconbox__style-02">
                  <div class="iconbox__icon"><i class="ti-thought"></i></div>
                  <div>
                    <h2 class="iconbox__title">
                      <a href="/knust-innovation-center/initiative">Our Initiatives</a>
                    </h2>
                    <div class="iconbox__description">
                      Mauris lacinia venenatis dolor sit amet viverra. Integer
                      malesuada nulla neque. Sed rutrum ligula eu
                    </div>
                  </div>
                </div>
                <!-- End / iconbox -->
              </div>
              <div class="col-sm-6 col-md-6 col-lg-3">
                <!-- iconbox -->
                <div class="iconbox iconbox__style-02">
                  <div class="iconbox__icon"><i class="ti-face-smile " ></i><span class="ti-user"></span></div>
                  <div>
                    <h2 class="iconbox__title">
                      <a href="/knust-innovation-center/community">Our Happy Students</a>
                    </h2>
                    <div class="iconbox__description">
                      Suspendisse ac elit vitae est lacinia interdum eu sit amet
                      mauris. Phasellus aliquam nisi sit amet l
                    </div>
                  </div>
                </div>
                <!-- End / iconbox -->
              </div>
            </div>

            <div class="">&nbsp;</div> <!--Second part-->

            <div class="row">
              <div class="col-sm-6 col-md-6 col-lg-3">
                <!-- iconbox -->
                <div class="iconbox iconbox__style-02">
                  <div class="iconbox__icon">
                    <i class="ti-blackboard"></i>
                  </div>
                  <div>
                    <h2 class="iconbox__title">
                      <a href="/knust-innovation-center/academy">Our Academy - upgrade yourself</a>
                    </h2>
                    <div class="iconbox__description">
                      Mauris lacinia venenatis dolor sit amet viverra. Integer
                      malesuada nulla neque. Sed rutrum ligula eu
                    </div>
                  </div>
                </div>
                <!-- End / iconbox -->
              </div>
              <div class="col-sm-6 col-md-6 col-lg-3">
                <!-- iconbox -->
                <div class="iconbox iconbox__style-02">
                  <div class="iconbox__icon"><i class="ti-rocket"></i></div>
                  <div>
                    <h2 class="iconbox__title">
                      <a href="/knust-innovation-center/incubator">Incubator</a>
                    </h2>
                    <div class="iconbox__description">
                      Etiam non varius justo, vel tempor mi. Nulla facilisi.
                      Fusce at tortor arcu. Suspendisse maximus ac
                    </div>
                  </div>
                </div>
                <!-- End / iconbox -->
              </div>
              <div class="col-sm-6 col-md-6 col-lg-3">
                <!-- iconbox -->
                <div class="iconbox iconbox__style-02">
                  <div class="iconbox__icon"><i class="ti-comments-smiley"></i></div>
                  <div>
                    <h2 class="iconbox__title">
                      <a href="/knust-innovation-center/community">Our Happy community</a>
                    </h2>
                    <div class="iconbox__description">
                      Mauris lacinia venenatis dolor sit amet viverra. Integer
                      malesuada nulla neque. Sed rutrum ligula eu
                    </div>
                  </div>
                </div>
                <!-- End / iconbox -->
              </div>
              <div class="col-sm-6 col-md-6 col-lg-3">
                <!-- iconbox -->
                <div class="iconbox iconbox__style-02">
                  <div class="iconbox__icon"><i class="ti-link"></i></div>
                  <div>
                    <h2 class="iconbox__title">
                      <a href="/knust-innovation-center/blog">Students Bloggers</a>
                    </h2>
                    <div class="iconbox__description">
                      Suspendisse ac elit vitae est lacinia interdum eu sit amet
                      mauris. Phasellus aliquam nisi sit amet l
                    </div>
                  </div>
                </div>
                <!-- End / iconbox -->
              </div>
            </div>
          </div>
        </section>
        <!-- End / Section -->

        <!-- About-->

        <!-- Section -->
        <section class="md-section">
          <div class="container">
            <div class="row">
              <div class="col-lg-6">
                <!-- title-01 -->
                <div class="title-01 title-01__style-03 md-text-left">
                  <h6 class="title-01__subTitle">about us</h6>
                  <h2 class="title-01__title">
                    <a href="/knust-innovation-center/about-us" >We are the innovators of the century</a>
                  </h2>
                  <div>
                    Nam suscipit nisi risus, et porttitor metus molestie a.
                    Phasellus id quam id turpis suscipit pretium. Maecenas
                    ultrices, lacus ut accumsan maximus, odio augue rhoncus
                    augue, vulputate maximus mi sapien sed nisl. Sed fermentum
                    congue orci sed lacinia. Nulla nunc purus, consectetur...
                    <a href="/knust-innovation-center/about-us" ><span class="btn btn-primary btn-outline">Read more</span></a>
                  </div>
                </div>
                <!-- End / title-01 -->

                <div class="row">
                  <div class="col-sm-4">
                    <!-- box-number -->
                    <div class="box-number">
                      <div class="box-number__number">
                        <h2
                          class="js-counter"
                          data-counter-time="2000"
                          data-counter-delay="10"
                        >
                          99
                        </h2>
                      </div>
                      <div class="box-number__description">Happy Students</div>
                    </div>
                    <!-- End / box-number -->
                  </div>
                  <div class="col-sm-4">
                    <!-- box-number -->
                    <div class="box-number">
                      <div class="box-number__number">
                        <h2
                          class="js-counter"
                          data-counter-time="2000"
                          data-counter-delay="10"
                        >
                          120
                        </h2>
                      </div>
                      <div class="box-number__description">Number of students</div>
                    </div>
                    <!-- End / box-number -->
                  </div>
                  <div class="col-sm-4">
                    <!-- box-number -->
                    <div class="box-number">
                      <div class="box-number__number">
                        <h2
                          class="js-counter"
                          data-counter-time="2000"
                          data-counter-delay="10"
                        >
                          15
                        </h2>
                      </div>
                      <div class="box-number__description">Projects</div>
                    </div>
                    <!-- End / box-number -->
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="js-innovationcenter-slider">
                  <!-- carousel__element owl-carousel -->
                  <div
                    class="carousel__element owl-carousel"
                    data-options='{"items":1,"loop":true,"dots":false,"nav":false,"margin":30,"responsive":{"0":{"items":2},"576":{"items":3},"992":{"items":1}}}'
                  >
                    <div class="image-full">
                      <img src="/knust-innovation-center/themes/custom/innovationcenter/images/10.jpg" alt="" />
                    </div>
                    <div class="image-full">
                      <img src="/knust-innovation-center/themes/custom/innovationcenter/images/7.jpg" alt="" />
                    </div>
                  </div>
                  <!-- End / carousel__element owl-carousel -->
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- End / Section -->

        <!-- Contact us-->

        <!-- Section -->
        <section
          class="md-section md-skin-dark js-innovationcenter-form"
          style="background-image: url('/knust-innovation-center/themes/custom/innovationcenter/images/1.jpg')"
       		 >
          <div class="md-overlay"></div>
          <div class="container">
            <div class="row" style="margin-bottom:30px;">
              <div
                class="col-lg-8 offset-0 offset-sm-0 offset-md-0 offset-lg-2"
              >
                <!-- title-01 -->
                <div class="title-01 title-01__style-02">
                  <h2 class="title-01__title">Upgrade yourself as a student</h2>
                  <div>Be taugh, Learn, Teach, Impact, that is what it is</div>
                  
                </div>
                <!-- End / title-01 -->
                  <div class="innovationcenter-phone" ><a href="/knust-innovation-center/academy" ><span class="btn btn-primary btn-outline">View all courses</span></a></div>
                
              </div>
            </div>
           <!-- academy-section -->
              <div class="row">
                <div class="col-md-4 col-lg-4">
                  <!-- textbox -->
                  <div class="textbox">
                    <div class="textbox__image">
                      <a href="#"
                        ><img src="/knust-innovation-center/themes/custom/innovationcenter/images/7.jpg" alt=""
                      /></a>
                    </div>
                    <div class="textbox__body">
                      <h2 class="textbox__title">
                        <a href="#">Matlab Course</a>
                      </h2>
                      <div class="textbox__description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Ut laoreet ut lacus a tincidunt. Quisque lu...<br>
                        <a href="#" ><span class="btn btn-primary btn-outline">View Course</span></a>
                      </div>
                    </div>
                  </div>
                  <!-- End / textbox -->
                </div>
                <div class="col-md-4 col-lg-4">
                  <!-- textbox -->
                  <div class="textbox">
                    <div class="textbox__image">
                      <a href="#"
                        ><img src="/knust-innovation-center/themes/custom/innovationcenter/images/7.jpg" alt=""
                      /></a>
                    </div>
                    <div class="textbox__body">
                      <h2 class="textbox__title">
                        <a href="#">Learn 3D Modeling</a>
                      </h2>
                      <div class="textbox__description">
                        Nam elit ligula, egestas et ornare non, viverra eu justo. Aliquam ornare lectus ut pharetra dictum...<br>
                        <a href="/knust-innovation-center/academy" ><span class="btn btn-primary btn-outline">View Course</span></a>
                      </div>
                    </div>
                  </div>
                  <!-- End / textbox -->
                </div>
                <div class="col-md-4 col-lg-4">
                  <!-- textbox -->
                  <div class="textbox">
                    <div class="textbox__image">
                      <a href="#"
                        ><img src="/knust-innovation-center/themes/custom/innovationcenter/images/2.jpg" alt=""
                      /></a>
                    </div>
                    <div class="textbox__body">
                      <h2 class="textbox__title">
                        <a href="#">Learn Python</a>
                      </h2>
                      <div class="textbox__description">
                        Mauris lacinia venenatis dolor sit amet viverra. Integer
                        malesuada nulla neque. Sed rutrum ligula eu...<br>
                        <a href="/knust-innovation-center/academy" ><span class="btn btn-primary btn-outline">View Course</span></a>
                      </div>
                    </div>
                  </div>
                  <!-- End / textbox -->
                </div>
              </div>
        <!-- End / academy-section-->
          </div>
        </section>
        <!-- End / Section -->
        <!-- What’s students Say ?-->
        <!-- Section -->
        <section class="md-section" style="padding-bottom: 0">
          <div class="container">
            <div class="row">
              <div
                class="col-md-8 col-lg-8 offset-0 offset-sm-0 offset-md-2 offset-lg-2"
              >
                <!-- title-01 -->
                <div class="title-01" style="margin-bottom: 50px">
                  <h2 class="title-01__title">What’s Students Say?</h2>
                </div>
                <!-- End / title-01 -->
              </div>
            </div>
            <div class="innovationcenter-slide">
              <!-- carousel__element owl-carousel -->
              <div
                class="carousel__element owl-carousel"
                data-options='{"loop":true,"dots":true,"nav":false,"margin":30,"responsive":{"0":{"items":1},"992":{"items":2}}}'>
                <!-- testimonial -->
                <div class="testimonial">
                  <div class="testimonial__info">
                    <a class="testimonial__avatar" href="#"
                      ><img src="/knust-innovation-center/themes/custom/innovationcenter/images/100 x 100.jpg" alt=""
                    /></a>
                    <h5 class="testimonial__name">Obeng Yeboah</h5>
                    <span class="testimonial__position">Electrical/electronics Engineering</span>
                  </div>
                  <div class="testimonial__content">
                    <div class="testimonial__text">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      Ut laoreet ut lacus a tincidunt. Quisque luctus nibh
                      augue, non ultrices arcu molestie in. In
                    </div>
                  </div>
                </div>
                <!-- End / testimonial -->

                <!-- testimonial -->
                <div class="testimonial">
                  <div class="testimonial__info">
                    <a class="testimonial__avatar" href="#"
                      ><img src="/knust-innovation-center/themes/custom/innovationcenter/images/100 x 100.jpg" alt=""
                    /></a>
                    <h5 class="testimonial__name">Maureen Afrifa</h5>
                    <span class="testimonial__position">Computer Engineering</span>
                  </div>
                  <div class="testimonial__content">
                    <div class="testimonial__text">
                      Sed ante nisl, fermentum et facilisis in, maximus sed
                      ipsum. Cras hendrerit feugiat eros, ut fringilla nunc
                      finibus sed. Quisque vitae dictum augue, v
                    </div>
                  </div>
                </div>
                <!-- End / testimonial -->

                <!-- testimonial -->
                <div class="testimonial">
                  <div class="testimonial__info">
                    <a class="testimonial__avatar" href="#"
                      ><img src="/knust-innovation-center/themes/custom/innovationcenter/images/100 x 100.jpg" alt=""
                    /></a>
                    <h5 class="testimonial__name">Kofi Ampah</h5>
                    <span class="testimonial__position">Petroleum Engineering</span>
                  </div>
                  <div class="testimonial__content">
                    <div class="testimonial__text">
                      Mauris lacinia venenatis dolor sit amet viverra. Integer
                      malesuada nulla neque. Sed rutrum ligula eu sagittis
                      volutpat. Aliquam erat volutpat. Praesen
                    </div>
                  </div>
                </div>
                <!-- End / testimonial -->
              </div>
              <!-- End / carousel__element owl-carousel -->
            </div>
          </div>
        </section>
        <!-- End / Section -->
        <!-- Our partner-->
        <!-- Section -->
        <section class="md-section">
          <div class="container">
            <div class="row">
              <div
                class="col-md-8 col-lg-8 offset-0 offset-sm-0 offset-md-2 offset-lg-2"
              >
                <!-- title-01 -->
                <div class="title-01">
                  <h2 class="title-01__title">Our Partner</h2>
                </div>
                <!-- End / title-01 -->
              </div>
            </div>

            <!-- carousel__element owl-carousel -->
            <div
              class="carousel__element owl-carousel"
              data-options='{"loop":true,"dots":false,"nav":true,"margin":30,"responsive":{"0":{"items":2},"768":{"items":3},"992":{"items":5}}}'
            >
              <!--  -->
              <div>
                <div class="brand-01__image">
                  <img src="/knust-innovation-center/themes/custom/innovationcenter/images/5.png" alt="" />
                </div>
              </div>
              <!-- End /  -->

              <!--  -->
              <div>
                <div class="brand-01__image">
                  <img src="/knust-innovation-center/themes/custom/innovationcenter/images/5.png" alt="" />
                </div>
              </div>
              <!-- End /  -->

              <!--  -->
              <div>
                <div class="brand-01__image">
                  <img src="/knust-innovation-center/themes/custom/innovationcenter/images/5.png" alt="" />
                </div>
              </div>
              <!-- End /  -->

              <!--  -->
              <div>
                <div class="brand-01__image">
                  <img src="/knust-innovation-center/themes/custom/innovationcenter/images/5.png" alt="" />
                </div>
              </div>
              <!-- End /  -->

              <!--  -->
              <div>
                <div class="brand-01__image">
                  <img src="/knust-innovation-center/themes/custom/innovationcenter/images/5.png" alt="" />
                </div>
              </div>
              <!-- End /  -->
            </div>
            <!-- End / carousel__element owl-carousel -->
          </div>
        </section>
        <!-- End / Section -->
        <!-- Latest Blogs -->
        <!-- Section -->
        <section class="md-section innovationcenter-background">
          <div class="container">
            <div class="row">
              <div
                class="col-md-8 col-lg-8 offset-0 offset-sm-0 offset-md-2 offset-lg-2"
              >
                <!-- title-01 -->
                <div class="title-01">
                  <h2 class="title-01__title">Latest Blogs</h2>
                </div>
                <!-- End / title-01 -->
              </div>
            </div>

            <!-- carousel__element owl-carousel -->
            <div
              class="carousel__element owl-carousel"
              data-options='{"loop":true,"dots":false,"nav":true,"margin":30,"responsive":{"0":{"items":1},"768":{"items":2},"992":{"items":3}}}'
            >
              <!--  -->
              <div>
                <div class="post-01__media">
                  <a href="#"
                    ><img src="/knust-innovation-center/themes/custom/innovationcenter/images/3.jpg" width="530" height="400" alt=""
                  /></a>
                </div>
                <div>
                  <ul class="post-01__categories">
                    <li><a href="#">Services</a></li>
                  </ul>
                  <h2 class="post-01__title">
                    <a href="#">Getting Started with Python</a>
                  </h2>
                  <div class="post-01__time">Apr 20, 2020</div>
                  <div class="post-01__note">by Kofi</div>
                </div>
              </div>
              <!-- End /  -->

              <!--  -->
              <div>
                <div class="post-01__media">
                  <a href="#"
                    ><img src="/knust-innovation-center/themes/custom/innovationcenter/images/3.jpg" width="530" height="400" alt=""
                  /></a>
                </div>
                <div>
                  <ul class="post-01__categories">
                    <li><a href="#">Our Space</a></li>
                  </ul>
                  <h2 class="post-01__title">
                    <a href="#">Friendly Space for projects</a>
                  </h2>
                  <div class="post-01__time">January, 2020</div>
                  <div class="post-01__note">by John Paul</div>
                </div>
              </div>
              <!-- End /  -->

              <!--  -->
              <div>
                <div class="post-01__media">
                  <a href="#"
                    ><img src="/knust-innovation-center/themes/custom/innovationcenter/images/3.jpg" width="530" height="400" alt=""
                  /></a>
                </div>
                <div>
                  <ul class="post-01__categories">
                    <li><a href="#">Cummunity</a></li>
                  </ul>
                  <h2 class="post-01__title">
                    <a href="#">Strong and Powerful members</a>
                  </h2>
                  <div class="post-01__time">Mar 21, 2020</div>
                  <div class="post-01__note">by Obeng Yeboah</div>
                </div>
              </div>
              <!-- End /  -->

              <!--  -->
              <div>
                <div class="post-01__media">
                  <a href="#"
                    ><img src="/knust-innovation-center/themes/custom/innovationcenter/images/3.jpg" width="530" height="400" alt=""
                  /></a>
                </div>
                <div>
                  <ul class="post-01__categories">
                    <li><a href="#">Events</a></li>
                  </ul>
                  <h2 class="post-01__title">
                    <a href="#">Room packs with events</a>
                  </h2>
                  <div class="post-01__time">Jan 2, 2020</div>
                  <div class="post-01__note">by Obed Obuadey</div>
                </div>
              </div>
              <!-- End /  -->
            </div>
            <!-- End / carousel__element owl-carousel -->
          </div>
        </section>
        <!-- End / Section -->
      
      <!-- End / Content-->