<!-- slider -->
        <div class="slider">
          <!-- carousel__element owl-carousel -->
          <div
            class="carousel__element owl-carousel"
            data-options='{"items":1,"loop":true,"dots":true,"nav":false,"margin":0, "autoplay": true, "autoplayTimeout": 4000}'
          >
            <div
              class="slider__item"
              style="background-image: url('/knust-innovation-center/themes/custom/innovationcenter/images/4.jpg')"
            >
              <div class="md-tb">
                <div class="md-tb__cell">
                  <div class="slider__content">
                    <div class="container">
                      <h2>Welcome. Be inspired by our numerous projects</h2>
                      <p>
                        Aenean viverra rhoncus pede. Suspendisse feugiat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In ac dui quis mi consectetuer lacinia. Vivamus laoreet.

                        Donec posuere vulputate arcu. Nullam cursus lacinia erat. In hac habitasse platea dictumst. Cras sagittis.

                        In hac habitasse platea dictumst. In hac habitasse platea dictumst. Aenean commodo ligula eget dolor. Morbi nec metus.
                      </p>
                      <a href="/knust-innovation-center/about-us" ><span class="btn btn-primary btn-outline">Read more</span></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="slider__item"
              style="background-image: url('/knust-innovation-center/themes/custom/innovationcenter/images/6.jpg')"
            >
              <div class="md-tb">
                <div class="md-tb__cell">
                  <div class="slider__content">
                    <div class="container">
                      <h2>We challenge you with ideas</h2>
                      <p>
                        Curabitur elementum urna augue, eu porta purus gravida
                        in. Cras consectetur, lorem a cursus vestibulum, ligula
                        purus iaculis nulla, in dignissim risus turpis id justo.
                        Sed eleifend ante et ligula elei
                      </p>
                      <a href="/knust-innovation-center/incubator" ><span class="btn btn-primary btn-outline">Read more</span></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="slider__item"
              style="background-image: url('/knust-innovation-center/themes/custom/innovationcenter/images/slider1.jpg')"
            >
              <div class="md-tb">
                <div class="md-tb__cell">
                  <div class="slider__content">
                    <div class="container">
                      <h2>We have several courses for you to learn</h2>
                      <p>
                        Curabitur elementum urna augue, eu porta purus gravida
                        in. Cras consectetur, lorem a cursus vestibulum, ligula
                        purus iaculis nulla, in dignissim risus turpis id justo.
                        Sed eleifend ante et ligula elei
                      </p>
                      <a href="/knust-innovation-center/academy" ><span class="btn btn-primary btn-outline">Read more</span></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End / carousel__element owl-carousel -->
        </div>
        <!-- End / slider -->