{% include directory ~ '/partials/header.html.twig' %}


<!-- Content-->
			<div class="md-content">
				<div class="innovationcenter-postDetail">
					<div class="image-full"><img src="/knust-innovation-center/themes/custom/innovationcenter/images/slider1.jpg" alt=""></div>
					<div class="innovationcenter-postDetail"></div>
					<div class="container">
						<div class="innovationcenter-postDetail__main">
							
							<!-- social-01 -->
							<div class="social-01 social-01__style-02">
								<nav class="social-01__navSocial">
                                <a class="social-01__item" href="#">
                                <i class="fa fa-facebook"></i></a>
                                <a class="social-01__item" href="#">
                                <i class="fa fa-twitter"></i></a>
                                <a class="social-01__item" href="#">
                                <i class="fa fa-instagram"></i></a>
								</nav>
							</div><!-- End / social-01 -->
							
							<div class="row">
								<div class="col-lg-10 col-xl-8 offset-0 offset-sm-0 offset-md-0 offset-lg-1 offset-xl-2 ">
									<div class="innovationcenter-postDetail__content">
										<div class="row">
											<div class="col-xl-11 offset-0 offset-sm-0 offset-md-0 offset-lg-0 offset-xl-1 ">
												<h1 class="text-center">Our community</h1>
												<p class="text">Nam elit ligula, egestas et ornare non, viverra eu justo. Aliquam ornare lectus ut pharetra dictum. Aliquam erat volutpat. In fringilla erat at eros pharetra faucibus. Nunc a magna eu lectus fringilla interdum luctus vitae diam. Morbi ac orci ac dolor pellentesque interdum vel accumsan risus. In vestibulum mattis turpis nec rhoncus. Maecenas facilisis commodo nunc, in blandit sem rutrum ac. Integer sit amet vehicula sem. Sed dictum arcu sit amet eros tempus pretium. Aenean lobortis risus purus.</p>
											</div>
										</div>
										<div class="image-full"><img src="/knust-innovation-center/themes/custom/innovationcenter/images/slider2.jpg" alt=""></div>
										<div class="row">
											<div class="col-xl-11 offset-0 offset-sm-0 offset-md-0 offset-lg-0 offset-xl-1 ">
												<p class="text">Maecenas lorem ex, euismod eget pulvinar non, facilisis ut leo. Quisque placerat purus in neque efficitur ornare. Nam at justo magna. Aliquam venenatis odio ante, non euismod augue porttitor eget. Maecenas nec viverra eros, eget euismod felis. Integer cursus libero sed lorem euismod, vel iaculis felis placerat. Pellentesque augue lacus, sodales et eros sed, molestie rhoncus ligula. Vivamus sed massa lorem. Suspendisse mollis lectus nec ex fermentum, in consectetur dolor egestas. Phasellus quis ipsum quis nisl ultricies sollicitudin id in dolor. Proin at consequat dui.</p>
											</div>
										</div>
										<div class="row">
											<div class="col-lg-6 ">
												<div class="image-full"><img src="/knust-innovation-center/themes/custom/innovationcenter/images/slider3.jpg" alt=""></div>
											</div>
											<div class="col-lg-6 ">
												<div class="image-full"><img src="/knust-innovation-center/themes/custom/innovationcenter/images/slider3.jpg" alt=""></div>
											</div>
										</div>
										<div class="row">
											<div class="col-xl-11 offset-0 offset-sm-0 offset-md-0 offset-lg-0 offset-xl-1 ">
												<p class="text">Sed ante nisl, fermentum et facilisis in, maximus sed ipsum. Cras hendrerit feugiat eros, ut fringilla nunc finibus sed. Quisque vitae dictum augue, vitae pretium sem. Proin tristique lobortis mauris nec mollis. Mauris id nibh sem. Vivamus ac ligula ac erat ultricies cursus semper ac enim. Aenean ac</p>
											</div>
										</div>
										<blockquote>
											<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
										</blockquote>
										<div class="row">
											<div class="col-xl-11 offset-0 offset-sm-0 offset-md-0 offset-lg-0 offset-xl-1 ">
												<p class="text">Suspendisse ac elit vitae est lacinia interdum eu sit amet mauris. Phasellus aliquam nisi sit amet libero mattis ornare. In varius nunc vel suscipit rhoncus. Nunc hendrerit nisl nec orci eleifend accumsan. Mauris nulla mi, egestas ac maximus ac, ultricies non tellus. Vestibulum varius purus nunc. Cr</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
			</div>
			<!-- End / Content-->
			


{% if page.footer %}
    {# <footer role="contentinfo"> #}
      {% include directory ~ '/partials/footer.html.twig' %}
    {# </footer> #}
  {% endif %}