{% include directory ~ '/partials/header.html.twig' %}


<!-- Content-->
<div class="md-content">
    <div class="innovationcenter-projectDetail">

        <!-- carousel__element owl-carousel -->
        <div class="carousel__element owl-carousel innovationcenter-projectDetail__slider" data-options='{"items":1,"loop":true,"dots":false,"nav":false,"autoplay":true,"animateOut":"fadeOut","margin":0}'>
            <div><img src="/knust-innovation-center/themes/custom/innovationcenter/images/slider2.jpg" alt=""></div>
            <div><img src="/knust-innovation-center/themes/custom/innovationcenter/images/slider2.jpg" alt=""></div>
            <div><img src="/knust-innovation-center/themes/custom/innovationcenter/images/5.jpg" alt=""></div>
        </div>
        <!-- End / carousel__element owl-carousel -->

        <div class="container">
            <div class="innovationcenter-projectDetail__main">

                <!-- social-01 -->
                <div class="social-01 social-01__style-02">
                    <nav class="social-01__navSocial"><a class="social-01__item" href="#"><i class="fa fa-facebook"></i></a>
                        <a class="social-01__item" href="#"><i class="fa fa-twitter"></i></a><a class="social-01__item" href="#"><i class="fa fa-instagram"></i></a>
                    </nav>
                </div>
                <!-- End / social-01 -->

                <div class="row">
                    <div class="col-lg-10 col-xl-8 offset-0 offset-sm-0 offset-md-0 offset-lg-1 offset-xl-2 ">
                        <div class="innovationcenter-projectDetail__content">
                            <div class="row">
                                <div class="col-xl-11 offset-0 offset-sm-0 offset-md-0 offset-lg-0 offset-xl-1 ">
                                    <h1>OUR BIGGEST INITIATIVES</h1>
                                    <p class="text">Mauris lacinia venenatis dolor sit amet viverra. Integer malesuada nulla neque. Sed rutrum ligula eu sagittis volutpat. Aliquam erat volutpat. Praesent mattis non nulla eget tempus. Orci varius natoque penatibus et
                                        magnis dis parturient montes, nascetur ridiculus mus. Integer accumsan tellus sed pur</p>
                                    <div class="row row-eq-height" style="margin-bottom:30px;">
                                        <div class="col-md-6 ">

                                            <!-- infobox -->
                                            <div class="infobox">
                                                <h2 class="infobox__title"><a href="#">date</a></h2>
                                                <div class="infobox__description">21 August, 2020 - Now</div>
                                            </div>
                                            <!-- End / infobox -->

                                        </div>
                                        <div class="col-md-6 ">

                                            <!-- infobox -->
                                            <div class="infobox">
                                                <h2 class="infobox__title"><a href="#">Initiative type</a></h2>
                                                <div class="infobox__description">Dancing Bucket</div>
                                            </div>
                                            <!-- End / infobox -->

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 ">
                                    <div class="image-full"><img src="/knust-innovation-center/themes/custom/innovationcenter/images/6.jpg" alt=""></div>
                                </div>
                                <div class="col-lg-6 ">
                                    <div class="image-full"><img src="/knust-innovation-center/themes/custom/innovationcenter/images/8.jpg" alt=""></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-11 offset-0 offset-sm-0 offset-md-0 offset-lg-0 offset-xl-1 ">
                                    <h2 class="text-center">A milk pumper</h2>
                                    <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut laoreet ut lacus a tincidunt. Quisque luctus nibh augue, non ultrices arcu molestie in. Integer finibus dolor lorem, tempor pretium lectus o</p>
                                    <div class="row row-eq-height" style="margin-bottom:30px;">
                                        <div class="col-md-6 ">

                                            <!-- infobox -->
                                            <div class="infobox">
                                                <h2 class="infobox__title"><a href="#">date</a></h2>
                                                <div class="infobox__description">21 August, 2020 - Now</div>
                                            </div>
                                            <!-- End / infobox -->

                                        </div>
                                        <div class="col-md-6 ">

                                            <!-- infobox -->
                                            <div class="infobox">
                                                <h2 class="infobox__title"><a href="#">Initiative type</a></h2>
                                                <div class="infobox__description">Dancing Bucket</div>
                                            </div>
                                            <!-- End / infobox -->

                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="image-full"><img src="/knust-innovation-center/themes/custom/innovationcenter/images/slider3.jpg" alt=""></div>
                            <div class="row">
                                <div class="col-xl-11 offset-0 offset-sm-0 offset-md-0 offset-lg-0 offset-xl-1 ">
                                    <p class="text">Maecenas lorem ex, euismod eget pulvinar non, facilisis ut leo. Quisque placerat purus in neque efficitur ornare. Nam at justo magna. Aliquam venenatis odio ante, non euismod augue porttitor eget. Maecenas nec viverra
                                        eros, eget euismod felis. Integer cursus libero sed lorem euismod, vel iaculis fel</p>
                                </div>
                            </div>
                            <div class="image-full"><img src="/knust-innovation-center/themes/custom/innovationcenter/images/8.jpg" alt=""></div>
                            <div class="row">
                                <div class="col-xl-11 offset-0 offset-sm-0 offset-md-0 offset-lg-0 offset-xl-1 ">
                                    <p class="text">Integer placerat ullamcorper urna nec rhoncus. Sed velit justo, lacinia non sapien imperdiet, sagittis fringilla risus. Nulla in est lobortis massa consectetur scelerisque. Etiam eu metus leo. Mauris a maximus magna.
                                        Maecenas odio tortor, tincidunt non lacus a, congue imperdiet diam. Pellentesque in</p>
                                </div>
                            </div>
                            <div class="image-full"><img src="/knust-innovation-center/themes/custom/innovationcenter/images/4.jpg" alt=""></div>
                            <div class="row">
                                <div class="col-xl-11 offset-0 offset-sm-0 offset-md-0 offset-lg-0 offset-xl-1 ">
                                    <p class="text">Nam suscipit nisi risus, et porttitor metus molestie a. Phasellus id quam id turpis suscipit pretium. Maecenas ultrices, lacus ut accumsan maximus, odio augue rhoncus augue, vulputate maximus mi sapien sed nisl. Sed
                                        fermentum congue orci sed lacinia. Nulla nunc purus, consectetur eget rutrum et, rho</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Related Posts-->

    <!-- Section -->
    <section class="md-section">
        <div class="container">

            <!-- title-01 -->
            <div class="title-01">
                <h2 class="title-01__title">Other Initiatives</h2>
            </div>
            <!-- End / title-01 -->


            <!-- carousel__element owl-carousel -->
            <div class="carousel__element owl-carousel" data-options='{"loop":true,"dots":true,"nav":true,"margin":30,"responsive":{"0":{"items":1},"768":{"items":2},"992":{"items":3}}}'>

                <!-- post-02 -->
                <div class="post-02">
                    <div class="post-02__media">
                        <a href="#"><img src="/knust-innovation-center/themes/custom/innovationcenter/images/8.jpg" alt="" /></a>
                    </div>
                    <div class="post-02__body">
                        <h2 class="post-02__title"><a href="#">The dancing moon</a></h2>
                        <div class="post-02__department">James Yakayaka</div>
                    </div>
                </div>
                <!-- End / post-02 -->


                <!-- post-02 -->
                <div class="post-02">
                    <div class="post-02__media">
                        <a href="#"><img src="/knust-innovation-center/themes/custom/innovationcenter/images/8.jpg" alt="" /></a>
                    </div>
                    <div class="post-02__body">
                        <h2 class="post-02__title"><a href="#">The laughing Arduino kit</a></h2>
                        <div class="post-02__department">Night Fighter</div>
                    </div>
                </div>
                <!-- End / post-02 -->


                <!-- post-02 -->
                <div class="post-02">
                    <div class="post-02__media">
                        <a href="#"><img src="/knust-innovation-center/themes/custom/innovationcenter/images/8.jpg" alt="" /></a>
                    </div>
                    <div class="post-02__body">
                        <h2 class="post-02__title"><a href="#">Boxing &amp; insulting robot</a></h2>
                        <div class="post-02__department">Peter Kankam</div>
                    </div>
                </div>
                <!-- End / post-02 -->

            </div>
            <!-- End / carousel__element owl-carousel -->

        </div>
    </section>
    <!-- End / Section -->

</div>
<!-- End / Content-->









{% if page.footer %} {#
<footer role="contentinfo"> #} {% include directory ~ '/partials/footer.html.twig' %} {# </footer> #} {% endif %}