{# this an image of the page from layout folder in templates #}
 {% include directory ~ '/partials/header.html.twig' %}
<!-- Content-->
<div class="md-content">
    <!-- page-title -->
    {% include directory ~ '/partials/blog_breadcrumb.html.twig' %}
    <!-- End / page-title -->
    <!-- Section -->
    <section class="md-section">
        <div class="container">
            <!-- layout-blog sidebar-left -->
            <div class="layout-blog sidebar-left">
                <div class="layout-blog__content">

                    <!--  -->
                    <div class="post-01__style-02 md-text-center">
                                {{ page.content }}
                    </div>
                    <!-- End /  -->
                </div>
            </div>
            <!-- End / layout-blog sidebar-left -->

        </div>
    </section>
    <!-- End / Section -->
</div>
<!-- End / Content-->

{% if page.footer %} 
{% include directory ~ '/partials/footer.html.twig' %}
 {% endif %}