 {% include directory ~ '/partials/header.html.twig' %}

<div class="md-content">

    <!-- slider -->
    <div class="slider">
        <!-- carousel__element owl-carousel -->
        <div class="carousel__element owl-carousel" data-options='{"items":1,"loop":true,"dots":false,"nav":false,"margin":0, "autoplay": true, "autoplayTimeout": 2000}'>
            <div class="slider__item" style="background-image: url('/knust-innovation-center/themes/custom/innovationcenter/images/9.jpg')">
                <div class="md-tb">
                    <div class="md-tb__cell">
                        <div class="slider__content">
                            <div class="container">
                                <h2>You want to learn?</h2>
                                <p>
                                    Aenean viverra rhoncus pede. Suspendisse feugiat.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slider__item" style="background-image: url('/knust-innovation-center/themes/custom/innovationcenter/images/7.jpg')">
                <div class="md-tb">
                    <div class="md-tb__cell">
                        <div class="slider__content">
                            <div class="container">
                                <h2>We have more Courses for you</h2>
                                <p>
                                    Curabitur elementum urna augue, eu porta purus
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End / carousel__element owl-carousel -->
</div>
<!-- End / slider -->

<!-- Section-courses 1 -->
<section class="md-section">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-lg-8 offset-0 offset-sm-0 offset-md-2 offset-lg-2 ">
                <!-- title-01 -->
                <div class="title-01">
                    <h2 class="title-01__title">Popular Courses to learn</h2>
                </div>
                <!-- End / title-01 -->
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-3 col-xl-3 ">

                <!-- courses -->
                <div class="courses">
                    <header>
                        <a href="#"><img src="/knust-innovation-center/themes/custom/innovationcenter/images/7.jpg" alt="" /></a>
                        <h2 class="courses__title"><a href="">3D Modeling</a></h2>
                    </header>
                    <div>
                        <ul class="courses__list">
                            <li><span class="tutor_name">Instructor: </span>Kofi nkatie lambogini</li>
                            <p class="disable">You will learn how to 3D model, so so....</p>

                        </ul>
                        <div class="courses__price"><span>GH&#8373</span>Free<span class="courses__time">/ Anytime</span>
                        </div><a class="btn btn-primary btn-outline btn-w180" href="#">View Course</a>
                    </div>
                </div>
                <!-- End / courses -->

            </div>
            <div class="col-md-6 col-lg-3 col-xl-3 ">

                <!-- courses -->
                <div class="courses">
                    <header>
                        <a href="#"><img src="/knust-innovation-center/themes/custom/innovationcenter/images/7.jpg" alt="" /></a>
                        <h2 class="courses__title"><a href="">Arduino</a></h2>
                    </header>
                    <div>
                        <ul class="courses__list">
                            <li><span class="tutor_name">Instructor: </span>Kofi nkatie lambogini</li>
                            <p class="disable">You will learn how to 3D model, so so....</p>
                        </ul>
                        <div class="courses__price"><span>GH&#8373</span>Free<span class="courses__time">/ Anytime</span>
                        </div><a class="btn btn-primary btn-outline btn-w180" href="#">View Course</a>
                    </div>
                </div>
                <!-- End / courses -->

            </div>
            <div class="col-md-6 col-lg-3 col-xl-3 ">

                <!-- courses -->
                <div class="courses">
                    <header>
                        <a href="#"><img src="/knust-innovation-center/themes/custom/innovationcenter/images/7.jpg" alt="" /></a>
                        <h2 class="courses__title"><a href="">Python</a></h2>
                    </header>
                    <div>
                        <ul class="courses__list">
                            <li><span class="tutor_name">Instructor: </span>Kofi nkatie lambogini</li>
                            <p class="disable">You will learn how to 3D model, so so....</p>
                        </ul>
                        <div class="courses__price"><span>GH&#8373</span>Free<span class="courses__time">/ Anytime</span>
                        </div><a class="btn btn-primary btn-outline btn-w180" href="#">View Course</a>
                    </div>
                </div>
                <!-- End / courses -->

            </div>
            <div class="col-md-6 col-lg-3 col-xl-3 ">

                <!-- courses -->
                <div class="courses">
                    <header>
                        <a href="#"><img src="/knust-innovation-center/themes/custom/innovationcenter/images/7.jpg" alt="" /></a>
                        <h2 class="courses__title"><a href="">Web development</a></h2>
                    </header>
                    <div>
                        <ul class="courses__list">
                            <li><span class="tutor_name">Instructor: </span>Kofi nkatie lambogini</li>
                            <p class="disable">You will learn how to 3D model, so so....</p>
                        </ul>
                        <div class="courses__price"><span>GH&#8373</span>Free<span class="courses__time">/ Anytime</span>
                        </div><a class="btn btn-primary btn-outline btn-w180" href="#">View Course</a>
                    </div>
                </div>
                <!-- End / courses -->
            </div>
        </div>
    </div>
</section>
<!-- End / Section-courses 1-->

<!-- Section-courses 2 -->
<section class="md-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-3 col-xl-3 ">

                <!-- courses -->
                <div class="courses">
                    <header>
                        <a href="#"><img src="/knust-innovation-center/themes/custom/innovationcenter/images/7.jpg" alt="" /></a>
                        <h2 class="courses__title">Machine Learning</h2>
                    </header>
                    <div>
                        <ul class="courses__list">
                            <li><span class="tutor_name">Instructor: </span>Kofi nkatie lambogini</li>
                            <p class="disable">You will learn how to 3D model, so so....</p>
                        </ul>
                        <div class="courses__price"><span>GH&#8373</span>Free<span class="courses__time">/ Anytime</span>
                        </div><a class="btn btn-primary btn-outline btn-w180" href="#">View Course</a>
                    </div>
                </div>
                <!-- End / courses -->

            </div>
            <div class="col-md-6 col-lg-3 col-xl-3 ">

                <!-- courses -->
                <div class="courses">
                    <header>
                        <a href="#"><img src="/knust-innovation-center/themes/custom/innovationcenter/images/7.jpg" alt="" /></a>
                        <h2 class="courses__title">I O T</h2>
                    </header>
                    <div>
                        <ul class="courses__list">
                            <li><span class="tutor_name">Instructor: </span>Kofi nkatie lambogini</li>
                            <p class="disable">You will learn how to 3D model, so so....</p>
                        </ul>
                        <div class="courses__price"><span>GH&#8373</span>Free<span class="courses__time">/ Anytime</span>
                        </div><a class="btn btn-primary btn-outline btn-w180" href="#">View Course</a>
                    </div>
                </div>
                <!-- End / courses -->

            </div>
            <div class="col-md-6 col-lg-3 col-xl-3 ">

                <!-- courses -->
                <div class="courses">
                    <header>
                        <a href="#"><img src="/knust-innovation-center/themes/custom/innovationcenter/images/7.jpg" alt="" /></a>
                        <h2 class="courses__title"> 3D Printing</h2>
                    </header>
                    <div>
                        <ul class="courses__list">
                            <li><span class="tutor_name">Instructor: </span>Kofi nkatie lambogini</li>
                            <p class="disable">You will learn how to 3D model, so so....</p>
                        </ul>
                        <div class="courses__price"><span>GH&#8373</span>Free<span class="courses__time">/ Anytime</span>
                        </div><a class="btn btn-primary btn-outline btn-w180" href="#">View Course</a>
                    </div>
                </div>
                <!-- End / courses -->

            </div>
            <div class="col-md-6 col-lg-3 col-xl-3 ">

                <!-- courses -->
                <div class="courses">
                    <header>
                        <a href="#"><img src="/knust-innovation-center/themes/custom/innovationcenter/images/7.jpg" alt="" /></a>
                        <h2 class="courses__title">MatLab</h2>
                    </header>
                    <div>
                        <ul class="courses__list">
                            <li><span class="tutor_name">Instructor: </span>Kofi nkatie lambogini</li>
                            <p class="disable">You will learn how to 3D model, so so....</p>
                        </ul>
                        <div class="courses__price"><span>GH&#8373</span>Free<span class="courses__time">/ Anytime</span>
                        </div><a class="btn btn-primary btn-outline btn-w180" href="#">View Course</a>
                    </div>
                </div>
                <!-- End / courses -->
            </div>
        </div>


        <div class="row">
            <div class="col text-center"><a class="btn btn-primary btn-outline btn-w180" href="#">View More Courses</a></div>
        </div>
    </div>

</section>


<!-- End / Section-courses 2-->
</div>
{% if page.footer %} {#
<footer role="contentinfo"> #} {% include directory ~ '/partials/footer.html.twig' %} {# </footer> #} {% endif %}