<!-- header -->
{% include directory ~ '/partials/header.html.twig' %}
<!--End / header -->

<!-- Content-->
<div class="md-content">
    <div class="innovationcenter-404">
        <div class="md-tb">
            <div class="md-tb__cell">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-10 offset-0 offset-sm-0 offset-md-0 offset-lg-1 ">
                            <div class="innovationcenter-404__content"><img src="/knust-innovation-center/themes/custom/innovationcenter/images/404.jpg" alt="">
                                <h1>404</h1>
                                <h2>404 Opps! Page not found </h2>
                                <p>It looks like nothing was found at this location. Click the link to return <a href="{{ path('<front>') }}">Home Page.</a> </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div style=" margin-bottom: 250px;"></div>

<!-- End / Content-->
{% if page.footer %} {% include directory ~ '/partials/footer.html.twig' %} {% endif %}