{# this a copy of the page from layout folder in templates #}

{% include directory ~ '/partials/header.html.twig' %}

<div class="md-content">
    <main role="main">
      <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

    
        	<!-- Content-->
			<div class="md-content">
				<!-- page-title -->
				<div class="page-title">
					<div class="container">
						<div class="row">
							<div class="col-lg-8 offset-0 offset-sm-0 offset-md-0 offset-lg-2 ">
								<h2 class="page-title__title">Our Space</h2>
								
								<!--  -->
								<nav>
									<a class="breadcrumb__item" href="{{ path('<front>') }}">Home</a>
										<span class="breadcrumb__item active">Our Space</span>
								</nav>
								<!-- End /  -->
								
							</div>
						</div>
					</div>
				</div><!-- End / page-title -->
				
				<!-- Section -->
				<section class="md-section">
					<div class="container">
						<div class="row">
							<div class="col-lg-10 offset-0 offset-sm-0 offset-md-0 offset-lg-1 ">
								
								<!-- title-01 -->
								<div class="title-01 title-01__style-04">
									<h2 class="title-01__title">We've got a space for your project execution</h2>
									<div>Nam suscipit nisi risus, et porttitor metus molestie a. Phasellus id quam id turpis suscipit pretium. Maecenas ultrices, lacus ut accumsan maximus, odio augue rhoncus augue, vulputate maximus mi sapien sed nisl. Sed fermentum congue orci sed lacinia. Nulla nunc purus, consectetur eget rutrum et, rho</div>
								</div><!-- End / title-01 -->
								
							</div>
						</div>
						
						<!-- post-03 -->
						<div class="post-03">
							<div class="post-03__media"><span href="#"><img src=" /knust-innovation-center/themes/custom/innovationcenter/images/7.jpg" alt=""/></span></div>
							<div class="post-03__body">
								<h6 class="post-03__subTitle">Space 01</h6>
								<h2 class="post-03__title"><span href="#">3D Workspace</span></h2>
								<div class="post-03__description">Maecenas lorem ex, euismod eget pulvinar non, facilisis ut leo. Quisque placerat purus in neque efficitur ornare. Nam at justo magna. Aliquam venenatis odio ante, non euismod augue porttitor eget. Maecenas nec viverra eros, eget euismod felis. Integer cursus libero sed lorem euismod, vel iaculis fel</div>
							</div>
						</div><!-- End / post-03 -->
						
						
						<!-- post-03 -->
						<div class="post-03 post-03__reverse">
							<div class="post-03__media"><span href="#"><img src="/knust-innovation-center/themes/custom/innovationcenter/images/7.jpg" alt=""/></span></div>
							<div class="post-03__body">
								<h6 class="post-03__subTitle">Space 02</h6>
								<h2 class="post-03__title"><span href="#">Arduino Workspace</span></h2>
								<div class="post-03__description">Integer placerat ullamcorper urna nec rhoncus. Sed velit justo, lacinia non sapien imperdiet, sagittis fringilla risus. Nulla in est lobortis massa consectetur scelerisque. Etiam eu metus leo. Mauris a maximus magna. Maecenas odio tortor, tincidunt non lacus a, congue imperdiet diam. Pellentesque in</div>
							</div>
						</div><!-- End / post-03 -->
						
						
						<!-- post-03 -->
						<div class="post-03">
							<div class="post-03__media"><span href="#"><img src="/knust-innovation-center/themes/custom/innovationcenter/images/7.jpg" alt=""/></span></div>
							<div class="post-03__body">
								<h6 class="post-03__subTitle">Space 03</h6>
								<h2 class="post-03__title"><span href="#">Open Space</span></h2>
								<div class="post-03__description">Nam elit ligula, egestas et ornare non, viverra eu justo. Aliquam ornare lectus ut pharetra dictum. Aliquam erat volutpat. In fringilla erat at eros pharetra faucibus. Nunc a magna eu lectus fringilla interdum luctus vitae diam. Morbi ac orci ac dolor pellentesque interdum vel accumsan risus. In ves</div>
							</div>
						</div><!-- End / post-03 -->
						
					</div>
				</section>
				<!-- End / Section -->
			</div>
			<!-- End / Content-->


    </main>
</div>
    {% if page.footer %}
      {% include directory ~ '/partials/footer.html.twig' %}
    {% endif %}

